.dictionary header {
	background-color: var(--grey);
	color: var(--white);
	padding: 40px;
	border-radius: 4px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.dictionary h1 {
	font-size: 50px;
	font-weight: 600;
	text-shadow: 2px 2px 6px var(--navy);
	letter-spacing: 6px;
	margin-bottom: 20px;
}
.dictionary input {
	padding: 8px;
	width: 70%;
	border-radius: 4px;
}
section {
	background-color: var(--grey);
	color: var(--white);
	padding: 30px;
	border-radius: 4px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.dictionary img {
	border-radius: 3px;
	margin: 10px 0;
}
.dictionary footer {
	color: var(--navy);
}
